.page-card {
  &__link-back {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 36px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s;

    span {
      display: flex;
      margin-right: 15px;
      transform: rotate(180deg);
    }

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    padding: 37px 36px 53px 36px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__slider-container {
    position: relative;
  }

  &__slider-preview-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__slider-preview {
    width: 102px;
  }

  &__preview-slide {
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    width: 102px;
    height: 90px!important;
    background: #F5F4F4;
    border: 1px solid #000000!important;
    box-sizing: border-box;
    cursor: pointer;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
    }
  }

  &__preview-img {
    width: 75px;
    height: 75px;
  }

  &__arrow-container {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000000;
    transform: rotate(90deg);

    i {
      margin-right: 3px;
      font-size: 10px;
      color: #ffffff;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__slider-main {
    width: 670px;
    margin-right: 40px;

    .slick-dots {
      bottom: 20px;
    }

    .slick-dots li button {
      background-color: $red;
      border: none;
      opacity: .3;
    }

    .slick-dots li.slick-active button {
      background-color: $red;
      opacity: 1;
    }
  }

  &__photo {
    position: relative;
    display: flex!important;
    justify-content: center;
    align-items: center;
    width: 670px;
    padding: 41px 20px;
    background: #F1F1F1;
    box-sizing: border-box;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 41px 20px;
  }

  &__serial {
    margin: 0 0 4px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #3A3A3A;
  }

  &__header {
    width: 435px;
    margin: 0 0 27px 0;
    font-family: Russo One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
  }

  &__text {
    display: block;
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__size-container {
    display: flex;
    margin-bottom: 30px;
  }

  &__size-input:checked + .page-card__size-label {
    opacity: 1;
  }

  &__size-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #000000;
    box-sizing: border-box;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;

    &.disabled {
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 16px;
        left: -8px;
        width: 49px;
        height: 1px;
        background: #000;
        transform: rotate(45deg);
      }
    }
  }

  &__color-container {
    display: flex;
    margin-bottom: 30px;
  }

  &__color-input:checked + .page-card__color-label {
    opacity: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      width: 28px;
      height: 1px;
      background-color: #000;
    }
  }

  &__color-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background: #000;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    opacity: .5;
    transition: .3s;

    &.pink {
      background-color: $pink;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.blue {
      background-color: $blue;
    }

    &.disabled {
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 27px;
        height: 1px;
        background: #000;
        transform: rotate(45deg);
        opacity: 0.5;
      }
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__amount-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 21px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid $black;
    background-color: transparent;
    box-sizing: border-box;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
    outline: none;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:active {
      outline: none;
    }

    &.disabled {
      opacity: 0.3;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__amount-number {
    display: block;
    width: 30px;
    margin-right: 21px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    border: none;
  }

  &__price {
    display: inline-block;
    margin: 0 16px 25px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  &__price-crossed {
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: line-through;
    opacity: 0.3;
  }

  &__buy-btn {
    display: block;
    width: 193px;
    height: 48px;
    margin: 0 0 53px 0;
    font-family: Russo One, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    background: #177FFF;
    border: none;
    transition: .3s;

    &:hover {
      box-shadow: 0 0 20px 8px rgba(255, 191, 255, 0.65);
    }
  }

  &__text-gray {
    display: block;
    margin: 0 0 28px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #7E7E7E;
  }
}

@media (max-width: 1240px) {
  .page-card {
    &__header {
      width: initial;
    }

    &__slider-container {
      width: 60%;
    }

    &__content {
      width: 40%;
    }

    &__slider-main {
      width: initial;
    }

    &__slider-preview {
      width: 70px;
    }

    &__preview-slide {
      width: 70px;
      height: 70px!important;
    }

    &__preview-img {
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 768px) {
  .page-card {
    &__item {
      flex-direction: column;
    }

    &__slider-container {
      width: 100%;
      margin-bottom: 50px;
    }

    &__content {
      width: 60%;
    }

    &__slider-main {
      margin-right: 0;
    }

    &__slider-preview {
      width: 102px;
    }

    &__preview-slide {
      width: 102px;
      height: 90px!important;
    }

    &__preview-img {
      width: 75px;
      height: 75px;
    }
  }
}

@media (max-width: 730px) {
  .page-card {
    &__content {
      width: 100%;
    }

    &__slider-preview {
      width: 70px;
    }

    &__preview-slide {
      width: 70px;
      height: 70px!important;
    }

    &__preview-img {
      width: 45px;
      height: 45px;
    }

    &__slider-arrow {
      width: 25px;
      height: 25px;

      i {
        font-size: 8px;
      }
    }
  }
}

@media (max-width: 576px) {
  .page-card {
    &__slider-preview-container {
      display: none;
    }
  }
}

//@media (max-width: 550px) {
//  .page-card {
//    &__slider-preview {
//      width: 60px;
//    }
//
//    &__preview-slide {
//      width: 60px;
//      height: 60px!important;
//    }
//
//    &__preview-img {
//      width: 35px;
//      height: 35px;
//    }
//  }
//}

@media (max-width: 768px) {
  .page-card {
    &__container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

//@media (max-width: 420px) {
//  .page-card {
//    &__slider-preview {
//      width: 50px;
//    }
//
//    &__preview-slide {
//      width: 50px;
//      height: 50px!important;
//    }
//
//    &__preview-img {
//      width: 25px;
//      height: 25px;
//    }
//
//    &__arrow-container {
//      bottom: -12px;
//    }
//
//    &__slider-arrow {
//      width: 20px;
//      height: 20px;
//
//      i {
//        font-size: 5px;
//      }
//    }
//  }
//}
