@@if(footer_index == "true") {
<footer class="page-footer page-footer--index">
  <div class="page-footer__top">
    <b class="page-footer__about">обо мне</b>
    <p class="page-footer__about-text">Успешный успех – не здесь. Мотивационные цитаты – не ко мне. Мгновенный заработок – тоже. Искренние разговоры без цензуры и купюр с самыми разными гостями – вот для чего я создал этот канал.</p>
    <p class="page-footer__about-text">Что для тебя жизнь в стиле «панк»? Цветные волосы, бедность и алкоголь? Это осталось в 90х! Для меня быть панком – значит позволять себе мыслить шире остальных, делать то, чего другие боятся  и общаться с теми, с кем остальным – неловко.</p>
  </div>
}
@@if(footer_index == "false") {
<footer class="page-footer">
  }
  <div class="page-footer__content">
    <div class="page-footer__logo-link">
      <i class="icon-logo"></i>
    </div>
    <div class="page-footer__social">
      <a class="page-footer__social-link youtube" href="#"></a>
      <a class="page-footer__social-link inst" href="#"></a>
      <a class="page-footer__social-link fb" href="#"></a>
    </div>
    <a class="page-footer__company" href="#">сделано в <span>LYSHAK STUDIO</span></a>
  </div>
</footer>

