<div class="popup-block popup-in-cart" id="popup-id">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close"></a>

				<img class="popup-in-cart__smile" src="../img/partying-face.svg" alt="smile">
				<h3 class="popup-in-cart__header">товар в корзине!</h3>
				<button class="popup-in-cart__button">отлично, спс</button>
				<a class="popup-in-cart__link" href="../cart.html">перейти в корзину
					<span>
						<i class="icon-arrow"></i>
						<i class="icon-arrow"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
